body {
    background-image: url('https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&w=1000&q=80');
    background-size: auto 100vh;
    font-family: Arial;
  }
  
  .menu {
    background-color: whitesmoke;
  }
  
  .menu ul{
    display: flex;
    justify-content: space-evenly;
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: #ff7500;
  }
  
  .site-subtitle,
  .site-title{
    color: whitesmoke;
    text-align: center;
  }
  
  .site-subtitle {
   font-style:italic;
  }
  
  